.donor_reg_main
{
     width: 100vw;
     background-color:  #77A7CA;
     min-height: 90vh;
     flex-direction: column ;
     display: flex;
     padding: 7rem;
}
.signup__title{
    color: #0062CC;
    font-size: 1rem;
    text-decoration: none;

}
.su__input{
   
    height: 1.5rem; 
    width : 10rem;
    border-radius: 10px;
    border-color: #ffff;
    display:flex;
    flex-direction: column;
}
.donor_reg_button
{
    background-color: #0062CC;
    /* position: fixed; */
    width: 15rem;
    height: 2.6rem;
    left: 0px;
    top: 0px;
    box-shadow: 4px 4px 12px #05182D, inset 4px 4px 14px rgba(255, 255, 255, 0.25);
    border-radius: 1.25rem;
    color: #ffff;
    overflow: contain;
}
.donor_reg_button:hover{
    color: light blue;
    background-color: black;
}

.donor_reg_inputs
{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 296px;
    left: 199px;
top: 381px;

background: #F8F8F8;
border-radius: 10px;
height: 30px;
  padding :8px 8px;

  margin: 8px 0;

  border-color: #ffff;

}
.content_su{
display: flex;
flex-direction: row;
flex-wrap: wrap; 
}
  
/* .input{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: 48px;
    border-radius: 10px;
    border-color: #ffff;
    flex-wrap:wrap;
  
} */
.donor_reg_heading{
    color: #ffff;
    font-size: rem;
}
/* form {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0;
} */






/* .donor_reg_button{
    background-color: #0062CC;
    height: 2rem;
    border-radius: 20px;
    color: #ffff;
} */